@{
    ViewBag.Title = "About";
}
<h2>EPMS</h2>
<h3>@ViewBag.Message</h3>

<p>Welcome to your EPMS, designed to make it easier to record, measure and monitor employee's performance in the work place. This is a secure web application that can be used on a traditional
    desktop computer or when on the move using mobile devices. To begin using the web application your line manager will firstly, add you to his/her team in the application and secondly, register your account on the system.
    You will then be good to go!</p>

<h3>Using The System</h3>
<p>How to use the system as a normal user.</p>

<h4>As A Manager</h4>
<p>How to use the system as an admin user.</p>
