@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>A bit about the system.</p>

<h3>Using The System</h3>
<p>How to use the system as a normal user.</p>

<h4>As A Manager</h4>
<p>How to use the system as an admin user.</p>
