@{
    ViewBag.Title = "About";
}
<h2>EPMS</h2>
<h3>@ViewBag.Message</h3>

<p>
    Welcome to your EPMS, designed to make it easier to record, measure and monitor employee's performance in the work place. This is a secure web application that can be used on a traditional
    desktop computer or when on the move using mobile devices. To begin using the web application your line manager will firstly, add you to his/her team in the application and secondly, register your account on the system.
    You will then be good to go!
</p>

<h3>Using The System</h3>
<p>
    To view your work records on the system click on "Your Work Records" when logged into the system. Your work records will last for three months and will hold each piece of work you complete
    within the three-month period. You are able to create a new work record for the next three months at any time from the link seen in the records index. If at anytime you want to edit or remove work records you
    must make sure the record is empty (and open) and then contact your line manager.
</p>
<p>
    To view/open up a record and view all work completed within this record, you can click on "See Record" from the record index. This is where you will also create, edit and delete work that you complete. Once, you have added all 
    work into a record, as you approach the end of the three-month period, you will be required to submit the record to your line manager. The record will be graded and you will receive a notification email confirming this. You will also
    be able to view the performance pages from the record index view and this can be found from the "View Performance Page" links.
</p>

<h3>As A Manager</h3>
<p>
    As a manager and admin user of the system you will have extra permissions. You will have the same permissions as a normal employee and more! You can manage your employees and their work from the "Manage Employees"
    link in the "Administration" dropdown menu. This will allow you to view their records and create performance pages for each submitted record. After creating a performance page for a record (including aims for next record),
    you must create a new project in the "Manage Projects" index which will add the new projects to the dropdown menus throughout the application. You are also able to create new users on the system. To do this you must firstly, add the user to
    your team using the "Create New" link in the "Manage Employees" index and then use the "Register New Account" link to create the new account on the system. If the new user is to be a manager then you must contact a database administrator to add
    them as a manager.
</p>

<p>If you require any further information regarding the EPMS web application then do not be afraid to contact us:</p>
<a href="mailto:mfb11127@uni.strath.ac.uk" target="_top" " class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Contact Support </a>