@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 align="center">EPMS</h1>
    <p align="center" class="lead">Welcome to your employee performance management system.</p>
    @if (User.Identity.Name == "")
    {
        @*<li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
        <p align="center"><a href="@Url.Action("Login", "Account")" class="btn btn-primary btn-lg ">Login Here</a></p>
    }
    else if (User.Identity.Name != "")
    {
    <p align="center"><a href="@Url.Action("Index", "Records")" class="btn btn-primary btn-lg">Your Work Records</a></p>
    }
</div>
