<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://epmsappdemo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>epmsappdemo.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>EPMSAppDemo</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$EPMSAppDemo</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=us-cdbr-azure-east-a.cloudapp.net;Initial Catalog=IdentitiyMySQLDatabase;User ID=b256d09eacc711;Password=8f4a50b4" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=us-cdbr-azure-east-a.cloudapp.net;Initial Catalog=IdentitiyMySQLDatabase;User ID=b256d09eacc711;Password=8f4a50b4" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Database=IdentitiyMySQLDatabase;Data Source=us-cdbr-azure-east-a.cloudapp.net;User Id=b256d09eacc711;Password=8f4a50b4" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="EPMSAppDemo.Models.EPMSDevEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="EPMSAppDemo.Models.EPMSDevEntities, EPMSAppDemo" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="EPMSDevEntities1" Order="3" Enabled="False">
          <Destination Path="Data Source=timetrackeruni.database.windows.net;Initial Catalog=EPMSDev;Persist Security Info=True;User ID=aidan;Password=Txtekgsn1;Application Name=EntityFramework" Name="Data Source=timetrackeruni.database.windows.net;Initial Catalog=EPMSDev;Persist Security Info=True;User ID=aidan;Password=Txtekgsn1;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=timetrackeruni.database.windows.net;Initial Catalog=EPMSDev;Persist Security Info=True;User ID=aidan;Password=Txtekgsn1;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EPMSDevEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.EPMSApplicationDevAzure.csdl|res://*/Models.EPMSApplicationDevAzure.ssdl|res://*/Models.EPMSApplicationDevAzure.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=timetrackeruni.database.windows.net;initial catalog=EPMSDev;persist security info=True;user id=aidan;password=Txtekgsn1;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=us-cdbr-azure-east-a.cloudapp.net;Initial Catalog=IdentitiyMySQLDatabase;User ID=b256d09eacc711;Password=8f4a50b4</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EPMSAppDemo.Models.EPMSDevEntities-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EPMSDevEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.EPMSApplicationDevAzure.csdl|res://*/Models.EPMSApplicationDevAzure.ssdl|res://*/Models.EPMSApplicationDevAzure.msl;provider=System.Data.SqlClient;provider connection string="data source=timetrackeruni.database.windows.net;initial catalog=EPMSDev;persist security info=True;user id=aidan;password=Txtekgsn1;multipleactiveresultsets=True;application name=EntityFramework;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="EPMSAppDemo.Models.EPMSDevEntities" />
  </ItemGroup>
</Project>